@charset "UTF-8";

@font-face {
   font-family: 'Noto Sans CJK JP';
   font-style: normal;
   font-weight: 200;
   src: url('./fonts/NotoSansCJKjp-SUBSET-Thin.woff') format('woff');
 }
@font-face {
   font-family: 'Noto Sans CJK JP';
   font-style: normal;
   font-weight: 300;
   src: url('./fonts/NotoSansCJKjp-SUBSET-L.woff') format('woff');
 }
@font-face {
   font-family: 'Noto Sans CJK JP';
   font-style: normal;
   font-weight: 400;
   src: url('./fonts/NotoSansCJKjp-SUBSET-R.woff') format('woff');
 }
@font-face {
   font-family: 'Noto Sans CJK JP';
   font-style: normal;
   font-weight: 500;
   src: url('./fonts/NotoSansCJKjp-SUBSET-M.woff') format('woff');
 }
@font-face {
   font-family: 'Noto Sans CJK JP';
   font-style: normal;
   font-weight: 600;
   src: url('./fonts/NotoSansCJKjp-SUBSET-B.woff') format('woff');
 }
@font-face {
   font-family: 'Noto Sans CJK JP';
   font-style: normal;
   font-weight: 900;
   src: url('./fonts/NotoSansCJKjp-SUBSET-BK.woff') format('woff');
}

@font-face {
  font-family:'Yu Mincho';
  src: local('Yu Mincho Demibold');
  font-weight: 500;
}